body {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
}

.heading_one {
    font-family: "Niconne", cursive;
    font-weight: bold;
    font-style: normal;
}

.heading_two {
    font-family: "Nanum Brush Script", cursive;
    font-weight: bold;
    font-style: normal;
}

.navbar {
    background: linear-gradient(to right, #00bcd4, #4caf50);

}

.nav-link {
    font-family: "Poppins", system-ui;
    padding: 5px;
    color: white;
    transition: white 0.1s;
    text-decoration: none;

}

.nav-link:hover {
    font-weight: bold;
    border-bottom: 5px solid white;
    border-radius: 15px;
}

.dropdown {
    font-family: "Poppins", system-ui;
}

.main {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 56px);
    overflow: hidden;
}

.main::before {
    content: "";
    background: url('images/pexels-asadphoto-1266831.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.main .content {
    position: relative;
    z-index: 1;
    /* Brings the content in front of the blurred image */
    text-align: center;
    padding: 20px;
}

.breadcrump {
    font-family: "Poppins", system-ui;

}

.custom-span {
    font-weight: bold;
    font-style: normal;
    border-radius: 10px;

}

span:hover {
    background-color: white;
    color: black;
    font-weight: normal;
}

.list-inline {
    font-family: "Poppins", system-ui;
}

.package {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: "Poppins", system-ui;

}

.package button {
    border-radius: 50%;
}

footer {
    background-image: url('images/sea-1027983_1280.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30%;
    bottom: 0
}

footer h1 {
    color: white;
}

footer p {
    color: white;
}